.container{
    margin: 0 25%;
}

.el{
   display: initial;
}

.favBlock{
    display: flex;
   flex-direction: column;
}

.preloader{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 46%;
    top: 30%;
}

.pagination{
    align-self: center;
}

@media screen and (max-width : 1000px) {
    .container{
        margin: 0 5%;
    }
    
  }