.container{
    margin: 0 25%;
}

.el{

}

.favBlock{
    display: flex;
   flex-direction: column;
}

.preloader{
    position: absolute;
    left: 50%;
    top: -100px;
}

.pagination{
    align-self: center;
}