.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.title{
    width: 85%;
    text-align: left;
    margin-top: 5%;
    font-size: 1.5em;
    color: black;
    font-weight: 700;
}

.titletText{
    text-align: left;
}

.catalogueBlock{
    width: 85%;
    text-align: left;
    padding-top: 1%;
    font-size: 1em;
    color: black;
    font-weight: 700;
}

.catalogueTitle{
    margin-bottom: 10px;
}

.salaryTitle{
    margin-bottom: 1%;
}

.salaryBlock{
    width: 85%;
    text-align: left;
    padding-top: 1%;
    font-size: 1em;
    color: black;
    font-weight: 700;
}

.resetFilters{
    float: right;
    position: absolute;
    font-size: 0.7em;
    color: lightgrey;
    cursor: pointer;
    left: 27%;
    bottom: 76%;
}

.catalogueInput{
    width: 100%;
    margin-top: 1%;
    border-radius: 15px;
}

.salaryInput{
    width: 100%;
    margin-top: 1%;
    border-radius: 15px;
}

.btn{
    width: 85%;
    margin-top: 5%;
    border-radius: 15px;
    margin-bottom: 4%;
}

@media screen and (max-width : 1300px) {
    .resetFilters{
        margin-top: 5%;
        position: static;
        font-size: 0.7em;
        color: lightgrey;
        cursor: pointer;
    }
  }