.flexContainer{
    display: flex;
    flex-direction: column-reverse;
}

.el{
    margin-bottom: 25px;
}

.pagination{
    margin-left: 32%;
}

.vacanciesBlock{

}

.preloader{
    top: 1%;
    right: 39%;
    position: absolute;
}