.flexContainer{
    display: flex;
    flex-direction: column-reverse;
}

.el{
    display: initial;
}

.pagination{
    align-self: center;
}

.vacanciesBlock{
   display: flex;
   flex-direction: column;
   
}

.preloader{
    width: 100px;
    height: 100px;
    top: 45%;
    right: 36%;
    position: absolute;
}

@media screen and (max-width : 800px) {
    .preloader{
        width: 100px;
        height: 100px;
        top: 100%;
        right: 42%;
        position: absolute;
    }
    
  }