.flexContainer {
    display: flex;
    flex-direction: column-reverse;
}

.el {
    display: initial;
    height: auto;
}

.pagination {
    align-self: center;
}

.vacanciesBlock {
display:flex;
flex-direction: column;
grid-gap: 0px;
}

.preloader {
    width: 100px;
    height: 100px;
    top: 45%;
    right: 36%;
    position: absolute;
}

.emptyState{
    margin-top: 100px;
}

.emptyState p{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}

@media screen and (max-width : 800px) {
    .preloader {
        width: 100px;
        height: 100px;
        top: 100%;
        left: calc(50% - 50px);
        position: absolute;
    }

}